
.gameboard {
    position: relative;
    display: flex;
    width: 1000px;
    height: 800px;
    margin: 3rem auto;
    color: #00203FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button {
    color: #00203FFF
}

/* .buttons{
    position: relative;
    z-index: 10;
} */

.newGame {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 2rem;
    left: 45%;
}

.roll {
    position: absolute;
    top: 85%;
    left: 45%;
    width: 100px;
    height: 50px;
}

.hold {
    position: absolute;
    top: 75%;
    left: 45%;
    width: 100px;
    height: 50px;
}

.divider {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 3px;
    background-color: black;
}

.diceCotainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 45%;
}

.diceCotainer img {
    border-radius: 20px;

    width: 100px;
    height: 100px;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.switchPlayer {
    width: 100%;
}

.on {
    background-color: #ADEFD1FF;
}

.off {
    background-color: rgba(173, 239, 209, 0.164);
}

.inputScore {
    position: absolute;
    width: 200px;
    top: 92%;
    left: 40%;
    height: 50px;
    font-size: 1.2rem;
    text-align: center;
}